zip/job.json
{
  "name": "Automated Job Prospecting System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Job Scan",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "url": "https://api.octoparse.com/v1/data/export",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$node[\"Set Job Search Parameters\"].json[\"taskId\"]}}"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        }
      },
      "id": "octoparse-scraper",
      "name": "Fetch Job Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "octoparse-api-key",
          "name": "Octoparse API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "taskId",
              "value": "your-octoparse-task-id"
            },
            {
              "name": "jobTitles",
              "value": "Software Engineer,Data Scientist,Product Manager"
            },
            {
              "name": "locations",
              "value": "San Francisco,New York,Austin"
            },
            {
              "name": "companySizeMin",
              "value": "50"
            }
          ]
        }
      },
      "id": "set-job-parameters",
      "name": "Set Job Search Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-companies",
      "name": "Process Each Company",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        870,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/people/search",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "organization_names",
              "value": "=[\"{{$json[\"company_name\"]}}\"]"
            },
            {
              "name": "person_titles",
              "value": "[\"Director\", \"VP\", \"Head of\", \"Manager\", \"Lead\"]"
            },
            {
              "name": "person_seniorities",
              "value": "[\"director\", \"vp\", \"head\", \"manager\"]"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "5"
            }
          ]
        }
      },
      "id": "apollo-contact-search",
      "name": "Find Decision Makers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apollo-api-key",
          "name": "Apollo API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "contacts-found",
              "leftValue": "={{$json[\"people\"].length}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-contacts",
      "name": "Contacts Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1290,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-contacts",
      "name": "Process Each Contact",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1500,
        220
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{$json[\"email\"]}}",
        "additionalFields": {
          "company": "={{$json[\"organization\"][\"name\"]}}",
          "firstName": "={{$json[\"first_name\"]}}",
          "lastName": "={{$json[\"last_name\"]}}",
          "jobTitle": "={{$json[\"title\"]}}",
          "phone": "={{$json[\"phone_numbers\"][0][\"raw_number\"]}}",
          "linkedinUrl": "={{$json[\"linkedin_url\"]}}",
          "customProperties": {
            "job_posting_url": "={{$node[\"Process Each Company\"].json[\"job_url\"]}}",
            "job_description": "={{$node[\"Process Each Company\"].json[\"job_description\"]}}",
            "company_size": "={{$node[\"Process Each Company\"].json[\"company_size\"]}}",
            "source": "job_prospecting_automation",
            "prospect_stage": "new_lead"
          }
        }
      },
      "id": "hubspot-create-contact",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1710,
        220
      ],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot-credentials",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "=You are a professional sales outreach specialist. Generate a personalized email sequence for reaching out to {{$json[\"first_name\"]}} {{$json[\"last_name\"]}}, who is a {{$json[\"title\"]}} at {{$json[\"organization\"][\"name\"]}}.\n\nJob Details:\n- Position: {{$node[\"Process Each Company\"].json[\"job_title\"]}}\n- Company: {{$json[\"organization\"][\"name\"]}}\n- Job Description: {{$node[\"Process Each Company\"].json[\"job_description\"]}}\n\nGenerate 3 emails:\n1. Initial outreach (150 words)\n2. Follow-up with value proposition (120 words) \n3. Final follow-up with case study (100 words)\n\nMake each email:\n- Professional but conversational\n- Focused on helping them solve hiring challenges\n- Include a clear call-to-action\n- Reference their specific job posting\n\nReturn as JSON format:\n{\n  \"email1\": {\n    \"subject\": \"subject line\",\n    \"body\": \"email body\"\n  },\n  \"email2\": {\n    \"subject\": \"subject line\", \n    \"body\": \"email body\"\n  },\n  \"email3\": {\n    \"subject\": \"subject line\",\n    \"body\": \"email body\"\n  }\n}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "id": "openai-email-generator",
      "name": "Generate Email Sequence",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1920,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the OpenAI response and prepare email data\nconst aiResponse = $input.first().json;\nlet emailContent;\n\ntry {\n  // Try to parse JSON from AI response\n  const content = aiResponse.choices[0].message.content;\n  emailContent = JSON.parse(content);\n} catch (error) {\n  // Fallback if JSON parsing fails\n  emailContent = {\n    email1: {\n      subject: `Quick question about your ${$node[\"Process Each Company\"].json[\"job_title\"]} role`,\n      body: `Hi ${$json[\"first_name\"]},\\n\\nI noticed you're hiring for a ${$node[\"Process Each Company\"].json[\"job_title\"]} position. I work with companies similar to ${$json[\"organization\"][\"name\"]} to help streamline their hiring process.\\n\\nWould you be open to a brief 15-minute conversation about how we've helped other companies reduce time-to-hire by 40%?\\n\\nBest regards`\n    },\n    email2: {\n      subject: \"Following up on hiring optimization\",\n      body: `Hi ${$json[\"first_name\"]},\\n\\nI wanted to follow up on my previous message about optimizing your hiring process.\\n\\nMany companies struggle with finding qualified candidates quickly. We've developed a solution that has helped 200+ companies accelerate their hiring.\\n\\nWould you have 10 minutes this week for a quick call?\\n\\nBest regards`\n    },\n    email3: {\n      subject: \"Case study: 50% faster hiring\",\n      body: `Hi ${$json[\"first_name\"]},\\n\\nI thought you might find this interesting - we recently helped a company similar to ${$json[\"organization\"][\"name\"]} reduce their hiring time by 50%.\\n\\nIf you're still looking to fill that ${$node[\"Process Each Company\"].json[\"job_title\"]} position, I'd love to share how we did it.\\n\\nNo pressure - just thought it might be valuable.\\n\\nBest regards`\n    }\n  };\n}\n\n// Return structured data for email sequence\nreturn [\n  {\n    contact_id: $json.id,\n    email: $json.email,\n    first_name: $json.first_name,\n    company: $json.organization.name,\n    emails: emailContent\n  }\n];"
      },
      "id": "process-email-content",
      "name": "Process Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2130,
        220
      ]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/email_accounts/{{$vars.apollo_email_account_id}}/email_sequences",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$json[\"company\"]}} - {{$json[\"first_name\"]}} Outreach"
            },
            {
              "name": "contact_ids",
              "value": "=[{{$json[\"contact_id\"]}}]"
            },
            {
              "name": "steps",
              "value": "=[\n  {\n    \"type\": \"email\",\n    \"wait_time\": 0,\n    \"subject\": \"{{$json[\"emails\"][\"email1\"][\"subject\"]}}\",\n    \"body\": \"{{$json[\"emails\"][\"email1\"][\"body\"]}}\"\n  },\n  {\n    \"type\": \"wait\",\n    \"wait_time\": 3\n  },\n  {\n    \"type\": \"email\",\n    \"wait_time\": 0,\n    \"subject\": \"{{$json[\"emails\"][\"email2\"][\"subject\"]}}\",\n    \"body\": \"{{$json[\"emails\"][\"email2\"][\"body\"]}}\"\n  },\n  {\n    \"type\": \"wait\",\n    \"wait_time\": 5\n  },\n  {\n    \"type\": \"email\",\n    \"wait_time\": 0,\n    \"subject\": \"{{$json[\"emails\"][\"email3\"][\"subject\"]}}\",\n    \"body\": \"{{$json[\"emails\"][\"email3\"][\"body\"]}}\"\n  }\n]"
            }
          ]
        }
      },
      "id": "apollo-email-sequence",
      "name": "Create Email Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2340,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apollo-api-key",
          "name": "Apollo API"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "subject": "=Email sequence started: {{$json[\"company\"]}} - {{$json[\"first_name\"]}}",
        "type": "EMAIL",
        "additionalFields": {
          "notes": "=Automated email sequence initiated for {{$json[\"first_name\"]}} at {{$json[\"company\"]}}. Monitor for responses and engagement.",
          "priority": "MEDIUM",
          "status": "NOT_STARTED",
          "taskOwner": "your-hubspot-user-id"
        }
      },
      "id": "hubspot-create-task",
      "name": "Create Tracking Task",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        2550,
        220
      ],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot-credentials",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeWorkflow",
        "workflowId": "email-response-monitor",
        "waitForExecution": false,
        "executionData": {
          "sequence_id": "={{$json[\"id\"]}}",
          "contact_email": "={{$node[\"Process Email Content\"].json[\"email\"]}}",
          "company_name": "={{$node[\"Process Email Content\"].json[\"company\"]}}"
        }
      },
      "id": "trigger-monitoring",
      "name": "Start Response Monitoring",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2760,
        220
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "subject": "=No contacts found: {{$json[\"company_name\"]}}",
        "type": "TODO",
        "additionalFields": {
          "notes": "=No decision-makers found for {{$json[\"company_name\"]}}. Consider manual research or different search parameters.",
          "priority": "LOW",
          "status": "NOT_STARTED"
        }
      },
      "id": "no-contacts-task",
      "name": "Log No Contacts Found",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1500,
        400
      ],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot-credentials",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit-delay",
      "name": "API Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2970,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "batch-complete",
              "leftValue": "={{$node[\"Process Each Contact\"].json[\"done\"]}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-batch-complete",
      "name": "All Contacts Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3180,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "companies-complete",
              "leftValue": "={{$node[\"Process Each Company\"].json[\"done\"]}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-companies-complete",
      "name": "All Companies Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3390,
        300
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "subject": "=Job Prospecting Automation Complete - {{new Date().toLocaleDateString()}}",
        "type": "EMAIL",
        "additionalFields": {
          "notes": "=Weekly job prospecting automation completed successfully. Check individual sequences for engagement and responses.",
          "priority": "HIGH",
          "status": "COMPLETED"
        }
      },
      "id": "completion-notification",
      "name": "Automation Complete",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        3600,
        220
      ],
      "credentials": {
        "hubspotApi": {
          "id": "hubspot-credentials",
          "name": "HubSpot API"
        }
      }
    }
  ],
  "connections": {
    "Weekly Job Scan": {
      "main": [
        [
          {
            "node": "Set Job Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Search Parameters": {
      "main": [
        [
          {
            "node": "Fetch Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Data": {
      "main": [
        [
          {
            "node": "Process Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Company": {
      "main": [
        [
          {
            "node": "Find Decision Makers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Decision Makers": {
      "main": [
        [
          {
            "node": "Contacts Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Found?": {
      "main": [
        [
          {
            "node": "Process Each Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Contacts Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Contact": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Generate Email Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Sequence": {
      "main": [
        [
          {
            "node": "Process Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email Content": {
      "main": [
        [
          {
            "node": "Create Email Sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Email Sequence": {
      "main": [
        [
          {
            "node": "Create Tracking Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tracking Task": {
      "main": [
        [
          {
            "node": "Start Response Monitoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Response Monitoring": {
      "main": [
        [
          {
            "node": "API Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Rate Limit": {
      "main": [
        [
          {
            "node": "All Contacts Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Contacts Processed?": {
      "main": [
        [
          {
            "node": "All Companies Processed?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Companies Processed?": {
      "main": [
        [
          {
            "node": "Automation Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "job-prospecting",
      "name": "Job Prospecting"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z", 
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "sales-automation",
      "name": "Sales Automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}